<div class="container">
  <div class="col-md-6">
    <!-- <form action=""> -->
        <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group">
        <label for="nama">Nama</label>
        <input 
        type="text" 
        id="nama" 
        class="form-control" 
        required
        minlength="3"
        maxlength="10"
        pattern="pisang"
        ngModel 
        #firstName="ngModel"
        (change)="log(firstName)"
        name="nama" />
        <div class="alert alert-danger" 
          *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors['required']">Nama harus diisi</div>

          <div *ngIf="firstName.errors['minlength']">Nama min 3 kata</div>
          <div *ngIf="firstName.errors['pattern']">Nama tidak sesuai pattern</div>
        </div>

        <!-- <div ngModelGroup="contact" #contact="ngModelGroup"></div>
          <div *ngIf="contact.value">contoh validasi pada ngModelGroup</div> -->
      <div class="form-group">
      <label for="commnet">Comment</label>
      <textarea 
      class="form-control" 
      rows="5" 
      id="comment"  
      ngModel
      name="comment"></textarea>
      </div>

      <div class="checkbox">
        <label for="">
          <input type="checkbox" ngModel name="isSubscribe">Subscribe jika ingin berlangganan
        </label>
      </div>
      <!-- <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
          <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
        </select>
      </div> -->

      <!-- jika ingin memilih keduanya -->
      <div class="form-group">
          <label for="contactMethod">Contact Method</label>
          <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
          </select>
        </div>

      <!-- Radio Button -->
      <!-- <div class="radio">
        <label for="">
          <input ngModel type="radio" name="contactMethodRadio" value="1">
          Email
        </label>
      </div>
      <div class="radio">
        <label for="">
          <input ngModel type="radio" name="contactMethodRadio" value="2">
          Phone
        </label>
      </div> -->
      
      <!-- Radio Button ngFor -->
      <div *ngFor="let method of contactMethods" class="radio">
          <label for="">
            <input ngModel type="radio" name="contactMethodRadio" value="1">
            {{method.name}}
          </label>
        </div>
  

      <p>
        {{form.value|json}}
      </p>

      <!-- <button type="button" class="btn btn-primary">Button</button> -->
      <!-- <button type="submit" class="btn btn-primary">Button</button> -->
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Button</button>
      <!-- menampilkan hasil inputan -->
      <!-- <p>Hasil Inputan:</p>
      <h1>Nama = {{nama}}</h1>
      <h1>Comment = {{comment}}</h1> -->
  </div>


